@model IdentitySample.Models.ApplicationUser

@{
    ViewBag.Title = "Details";
}

<div class="pageTitleContainer">
    <div class="pageTitle">@Html.DisplayFor(model => model.UserName)</div>
</div>

<div class="editUserContainer">

    <h4>List of roles for this user</h4>
    @if (ViewBag.RoleNames.Count == 0)
    {
        <hr />
        <p>No roles found for this user.</p>
    }

    <table class="table">

        @foreach (var item in ViewBag.RoleNames)
        {
            <tr>
                <td>
                    @item
                </td>
            </tr>
        }
    </table>

    <div class="editUserSaveContainer">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "actionButton" })
    </div>
    <div class="backButtonContainer">
        @Html.ActionLink("Back to List", "Index", new { }, new { @class = "actionButton" })
    </div>

</div>

