@model JobBoardv3.DATA.EF.Application

@{
    ViewBag.Title = "Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .top2style {
        margin-top: 20vh;
        text-align: center;
    }
</style>

<div>
    <h4 class="top2style">Thank you for submitting an application, We will get to you within 48 hours.</h4>
</div>
   


